.scrollToTopBtn{
    position: fixed;
    padding:9px;
    background-color: #04052e;
    color: #97d3cb;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.scrollToTopBtn.show {
    opacity: 1;
}