.navigation{
    position: fixed;  
    width: 100%;
    z-index: 1;
    transition: padding 2s ease;  
}

  @media screen and (max-width: 3000px) {
    .nav-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      color:rgb(255, 255, 255);
      font-size: 15px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-weight: bold;
      transition: padding 2s ease;
      background-color: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
      -webkit-backdrop-filter: blur(20px) saturate(160%) contrast(45%) brightness(140%);
      }
      
  }

a {
  padding-bottom: 2px;
  transition: border-color 2s ease;
  }


a:hover {
  cursor: pointer;
  }

  
