.navigation{
    position: fixed;  
    width: 100%;
    z-index: 1;
    transition: padding 2s ease;  
    border-bottom: 1px solid white;

}

  @media screen and (max-width: 3000px) {
    .nav-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      color:#04052e;
      font-size: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: bold;
      transition: padding 2s ease;
      background-color: #97d3cb;
      }
      
  }

.nav-button a {
  padding-bottom: 2px;
  transition: border-color 2s ease;
  color:#04052e;
  }

.nav-button{
  padding:5px;
}

.nav-button:hover {
  cursor: pointer;
  }

.nav-icon-2, .nav-icon-4{
  font-size: 1.5rem;
}

.nav-icon-1, .nav-icon-3{
  font-size: 1.8rem;
}

.blog-mini-icon{
  font-size: smaller;
}


  
