.navigation{
    position: fixed;  
    width: 100%;
    z-index: 1;
    transition: padding 2s ease;  
    border-bottom: 0.5px solid white;

}

  @media screen and (max-width: 3000px) {
    .nav-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      color:rgb(255, 255, 255);
      font-size: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: bold;
      transition: padding 2s ease;
      background-color: rgb(59, 53, 59);
      }
      
  }

a {
  padding-bottom: 2px;
  transition: border-color 2s ease;
  }

.nav-button{
  padding:5px;
}

.nav-button:hover {
  cursor: pointer;
  background-color: rgb(102, 91, 102);
    transition: .2s ease-in-out;
  }

.nav-icon-2{
  font-size: 1.5rem;
}

.nav-icon-1, .nav-icon-3{
  font-size: 1.8rem;
}

nav.icon-1:hover, 
nav.icon-2:hover, 
nav.icon-3:hover{
    background-color: rgb(102, 91, 102);
    transition: .2s ease-in-out;
}


  
