.container {
    display: flex;
    background-color: rgb(59, 53, 59);
    border-bottom: 0.5px solid white;
}

.image-container, .synopsis-container{
    height: 100vh;
}

.image-container{
    width:50%;
    margin-left: 150px;
    margin-top: 130px;
    margin-bottom: -100px;
}

.profile-image{
    height: 80vh;
    width: auto;
}

.synopsis-container{
    justify-content: center;
    background-color: rgb(59, 53, 59);
    width:100%;
    display: flex;
    padding: 0px 330px 0px 200px;
}

.synopsis-content{
    margin-top: 200px;
    width: 700px;
    padding: 20px; 
    border-top:1.5px solid white;
    border-bottom:1.5px solid white;
    height: 400px;
}

.synopsis-content p,h1{
    align-items: center;
    color: white;
}

.skills-container{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.skills{
    width: auto;
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-color: 1px solid black;
}

.skills h4{
    margin:0;
    color:black
}

