* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  background-color: rgb(59, 53, 59);
}

.profile-component{
  position: relative;
  z-index: 0;
  background-color: rgb(59, 53, 59);
  margin-left: 100px;
  margin-right: 100px;
}

.navigtion{
  position: relative;
  z-index: 1;
}